@charset "utf-8";
/* リセットCSS */
/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
margin: 0;
padding: 0;
border: 0;
font-size: 100%;
font: inherit;
vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
display: block;
}
body {
line-height: 1;
}
ol, ul {
list-style: none;
}
blockquote, q {
quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
content: '';
content: none;
}
table {
border-collapse: collapse;
border-spacing: 0;
}

/* レイアウト */
* {
	font-family: 'Avenir','Helvetica Neue','Helvetica','Arial','Hiragino Sans','ヒラギノ角ゴシック',YuGothic,'Yu Gothic','メイリオ', Meiryo,'ＭＳ Ｐゴシック','MS PGothic';
}
body {
	width: 100vw;
	min-width: 1100px;
}
#wrapper {
	width: 96%;
	margin: 24px auto;
}
a {
	text-decoration: none;
	color: black;
}
div.clear-element {
	clear: both;
}

/* header用 */
header {
	width: 50%;
	height: 94vh;
	background-color: #333;
	float: right;
}
header h1 {
	width: 24vw;
	min-width: 288px;
	height: 30vh;
	min-height: 202px;
	background-image: url(../images/title.jpg);
	background-size: contain;
	background-repeat: no-repeat;
	display: block;
	margin: 100px auto 80px auto;
}
header div#headernav nav ul {
	text-align: center;
}
header div#headernav nav ul li {
	writing-mode: vertical-rl;
	display: inline-block;
	vertical-align: top;
	text-align: left;
	margin: 0;
	width: 50px;
}
header div#headernav nav ul li a {
	display: block;
	background-color: white;
	padding: 10px 3px 0 10px;
}
header div#headernav nav ul li a span {
	font-size: 16px;
	letter-spacing: 18px;
}
header div#headernav nav ul li a span.kana {
	font-size: 10px;
	letter-spacing: 5px;
}

/* look用 */
div#look {
	width: 50%;
	height: 94vh;
	background-image: url(../images/top_face.png);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: auto;
}

/* footer用 */
footer{
	position: relative;
}
footer #footerdata {
	writing-mode: vertical-rl;
	display: inline-block;
	margin-top: 40px;
	margin-left: 20px;
}
footer #footerdata span {
	font-size: 26px;
	letter-spacing: 14px;
}
footer #footerdata span.kana {
	font-size: 16px;
}
footer #footerdata p {
	font-size: 12px;
	line-height: 22px;
	letter-spacing: 4px;
	margin-right: 30px;
}
footer #footerdata p#footerjp {
	writing-mode: horizontal-tb;
	transform: rotate(90deg);
	position: absolute;
	top: 200px;
	left: -120px;
}
footer div#footerimg  {
	display: inline-block;
	overflow: hidden;
	width: 69px;
	height: 92px;
	position: relative;
	bottom: 0;
	left: -40px;
}
footer div#footernav {
	display: inline-block;
}
footer div#footernav nav ul li {
	writing-mode: vertical-rl;
	display: inline-block;
	vertical-align: bottom;
	text-align: left;
	background-color: pink;
	margin: 2px;
}
footer div#footernav nav ul li a {
	display: block;
	width: 30px;
	line-height: 30px;
	background-color: red;
	color: white;
	padding: 5px;
}
footer div#footernav nav ul li a {
	font-size: 16px;
	letter-spacing: 8px;
}

/* main用 */
div.main {
	width: 50%;
	height: 94vh;
	color: white;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: auto;
	overflow-x: hidden;
	overflow-y: auto;
	position: relative;
}
div.main h2 {
	writing-mode: vertical-rl;
	position: absolute;
	top: 50px;
	left: 50px;
}
div.main h2 span {
	font-size: 35px;
	letter-spacing: 40px;
}
div.main h2 span.kana {
	font-size: 19px;
	letter-spacing: 14px;
}

/* room.php用 */
div#roommain {
	background-color: #000040;
	position: relative;
}
div#roommain p {
	font-size: 10px;
	letter-spacing: 10px;
	line-height: 20px;
	margin: 0 20px;
	text-align: left;
}
div#roomnav nav ul {
	text-align: center;
}
div#roomnav nav ul li {
	writing-mode: vertical-rl;
	display: inline-block;
	margin: 125px 30px 100px 30px;
}
div#roomabout {
	writing-mode: vertical-rl;
	margin: 0 auto 100px auto;
}
div#roomgoemon {
	width: 100%;
	background: linear-gradient(180deg,#000040 0%,#000040 12%,red 12%,red 100%);
	text-align: center;
	position: relative;
}
div#roombenkei {
	width: 100%;
	background: linear-gradient(180deg,red 0%,red 12%,black 12%,black 100%);
	text-align: center;
	position: relative;
}
div#roomkamakura {
	width: 100%;
	background: linear-gradient(180deg,black 0%,black 12%,#c39143 12%,#c39143 100%);
	text-align: center;
	position: relative;
}
img.roomtitle {
	width: 391px;
	height: 456px;
	display: block;
	margin: 0 auto;
}
div.roomcenter {
	width: 420px;
	height: 280px;
	position: absolute;
	top: -400px;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}
div.roomdetail {
	writing-mode: vertical-rl;
}
img.roomkamon {
	width: 100px;
	height: 100px;
	float: left;
	margin-top: 50px;
	opacity: 0.5;
}
img.roomtype1 {
	width: 413px;
	height: 280px;
	margin-top: 500px;
	margin-bottom: 30px;
}
img.roomtype2 {
	width: 217px;
	height: 336px;
	margin: 0 10px 200px 10px;
}

/* meal.php用 */
div#mealmain {
	background-color: black;
	position: relative;
}
div#mealmain p {
	font-size: 10px;
	letter-spacing: 10px;
	line-height: 20px;
	margin: 0 20px;
	text-align: left;
}
img#mealtitle {
	width: 312px;
	height: 474px;
	display: block;
	margin: 50px auto;
}
div#mealabout {
	writing-mode: vertical-rl;
	margin: 150px auto;
}
img.mealtype1 {
	width: 392px;
	height: 259px;
	margin-right: 5vw;
	margin-bottom: 150px;
	float: right;
}
div#mealpart1 {
	width: 100%;
	height: 800px;
	margin-right: 50px;
	writing-mode: vertical-rl;
	background: linear-gradient(45deg,black 0%,black 58%,red 58%,red 61%,black 61%,black 100%);
}
div#mealpart1 p {
	margin-top: 100px;
}
img.mealtype2 {
	width: 156px;
	height: 248px;
	margin-bottom: 150px;
}
img.mealtype3 {
	width: 366px;
	height: 246px;
	margin-bottom: 150px;
}
div#mealpart2 {
	writing-mode: vertical-rl;
	width: 100%;
	height: 700px;
	position: relative;
}
div#mealpart2 p {
	position: absolute;
	top: 0;
	left: 14%;
}
img.mealtype4 {
	width: 111px;
	height: 176px;
	position: absolute;
	top: 8%;
	right: 8%;
}
img.mealtype5 {
	width: 156px;
	height: 248px;
	position: absolute;
	top: 35%;
	right: 25%;
}

/* bath.php用 */
div#bathmain {
	background-color: #8e5100;
	position: relative;
}
img#bathtitle1 {
	width: 261px;
	height: 304px;
	display: block;
	margin: 20px auto;
}
div#bathabout {
	writing-mode: vertical-rl;
	margin: 0 auto;
}
img#bathtitle2 {
	width: 304px;
	height: 261px;
	display: block;
	margin: 20px auto;
}
div#bathpart1 {
	writing-mode: vertical-rl;
	margin: 0 auto;
}
div#bathpart2 {
	writing-mode: vertical-rl;
	margin: 0 auto;
}

/* guide.php用 */
div#guidemain {
	background-color: #3a1212;
	position: relative;
}
img#guidetitle1 {
	width: 261px;
	height: 304px;
	display: block;
	margin: 20px auto;
}
div#guideabout {
	writing-mode: vertical-rl;
	margin: 0 auto;
}
img#guidetitle2 {
	width: 304px;
	height: 261px;
	display: block;
	margin: 20px auto;
}
div#guidepart1 {
	writing-mode: vertical-rl;
}
/* reservation.php用 */
div#reservemain {
	background-color: #004000;
	position: relative;
}
img#reservetitle1 {
	width: 261px;
	height: 304px;
	display: block;
	margin: 20px auto;
}
div#reserveabout {
	writing-mode: vertical-rl;
	margin: 0 auto;
}

/* 768px以下の場合のレイアウト */
/* @media screen and (max-width:768px) {} */
