@charset "utf-8";
/* リセットCSS */
/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
margin: 0;
padding: 0;
border: 0;
font-size: 100%;
font: inherit;
vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
display: block;
}
body {
line-height: 1;
}
ol, ul {
list-style: none;
}
blockquote, q {
quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
content: '';
content: none;
}
table {
border-collapse: collapse;
border-spacing: 0;
}

/* レイアウト */
body {
	width: 100%;
	min-width: 1100px;
	height: 100%;
	font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
}
#wrapper {
	width: 96%;
	margin: 24px auto;
}
a {
	text-decoration: none;
	color: #a53926;
}
a.nolink {
	cursor: default;
}
div.clear-element {
	clear: both;
}

/* filter用 */
#filter{
	position: absolute;
	left: 0;
	top: 0;
	background-image: url('../images/haikeiwasi2.png');
	background-repeat: repeat;
	opacity: 0.9;
	z-index: 100;
	width: 100%;
	height: 100%;
	pointer-events: none;
	mix-blend-mode: multiply;
}

/* header用 */
header {
	width: 50%;
	height: 94vh;
	min-height: 650px;
/*	background-image: url(../images/kin.jpg);
	background-repeat: repeat;*/
	float: right;
	position: relative;
}
header h1 {
	width: 24vw;
	min-width: 288px;
	height: 30vh;
	min-height: 202px;
/* 	background-size: contain;
	background-repeat: no-repeat;
	background-position: top center; */
	margin: 100px auto 80px auto;
	position: relative;
	z-index: 20;
}
header h1 img {
	width: 24vw;
	min-width: 288px;
	height: 30vh;
	min-height: 202px;
	object-fit: contain;
}
header div#headernav nav ul {
	text-align: center;
	position: relative;
	z-index: 20;
}
header div#headernav nav ul li {
	writing-mode: vertical-rl;
	display: inline-block;
	vertical-align: top;
	text-align: left;
	margin: 0;
	width: 50px;
}
header div#headernav nav ul li a {
	display: block;
	background-color: white;
	padding: 15px 8px 0 10px;
}
header div#headernav nav ul li a span {
	font-size: 16px;
	letter-spacing: 18px;
}
header div#headernav nav ul li a span.kana {
	font-size: 10px;
	letter-spacing: 5px;
}
header img.bgheader {
	width: 100%;
	height: 94vh;
	min-height: 650px;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
}
header img.titleheader {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
}
#linkul01 .bg06,
#linkul01 .title06 {
	display: block;
}
#linkul01 .bg01,
#linkul01 .bg02,
#linkul01 .bg03,
#linkul01 .bg04,
#linkul01 .bg05,
#linkul01 .title01,
#linkul01 .title02,
#linkul01 .title03,
#linkul01 .title04,
#linkul01 .title05  {
	display: none;
}
#linkul02 .bg05,
#linkul02 .title05 {
	display: block;
}
#linkul02 .bg01,
#linkul02 .bg02,
#linkul02 .bg03,
#linkul02 .bg04,
#linkul02 .bg06,
#linkul02 .title01,
#linkul02 .title02,
#linkul02 .title03,
#linkul02 .title04,
#linkul02 .title06 {
	display: none;
}
#linkul03 .bg04,
#linkul03 .title04 {
	display: block;
}
#linkul03 .bg01,
#linkul03 .bg02,
#linkul03 .bg03,
#linkul03 .bg05,
#linkul03 .bg06,
#linkul03 .title01,
#linkul03 .title02,
#linkul03 .title03,
#linkul03 .title05,
#linkul03 .title06 {
	display: none;
}
#linkul04 .bg03,
#linkul04 .title03 {
	display: block;
}
#linkul04 .bg01,
#linkul04 .bg02,
#linkul04 .bg04,
#linkul04 .bg05,
#linkul04 .bg06,
#linkul04 .title01,
#linkul04 .title02,
#linkul04 .title04,
#linkul04 .title05,
#linkul04 .title06 {
	display: none;
}
#linkul05 .bg02,
#linkul05 .title02 {
	display: block;
}
#linkul05 .bg01,
#linkul05 .bg03,
#linkul05 .bg04,
#linkul05 .bg05,
#linkul05 .bg06,
#linkul05 .title01,
#linkul05 .title03,
#linkul05 .title04,
#linkul05 .title05,
#linkul05 .title06 {
	display: none;
}
#linkul06 .bg01,
#linkul06 .title01 {
	display: block;
}
#linkul06 .bg02,
#linkul06 .bg03,
#linkul06 .bg04,
#linkul06 .bg05,
#linkul06 .bg06,
#linkul06 .title02,
#linkul06 .title03,
#linkul06 .title04,
#linkul06 .title05,
#linkul06 .title06 {
	display: none;
}
#linkul01 a {
	color: #a53926;
}
#linkul02 a {
	color: #04002b;
}
#linkul03 a {
	color: #0b0e0f;
}
#linkul04 a {
	color: #855100;
}
#linkul05 a {
	color: #3a1212;
}
#linkul06 a {
	color: #002100;
}

/* look用 */
div#look {
	width: 50%;
	height: 94vh;
	min-height: 650px;
	overflow: hidden;
}
div#look img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: top center;
}

/* bgmain用 */
div.bgmain {
	width: 50%;
	height: 94vh;
	min-height: 650px;
	overflow: hidden;
	position: relative;
	/*top: -650px;*/
	pointer-events: none;
}
div.bgmain img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center center;
	display: none;
}
div.bgmain img.bg13 {
	object-position: top center;
}
div.bgmain img.bg16 {
	object-position: top center;
}

/* footer用 */
footer{
	position: relative;
	height: 450px;
	margin-top: -650px;
}
footer #footerdata {
	writing-mode: vertical-rl;
	display: inline-block;
	margin-top: 40px;
	margin-left: 20px;
}
footer #footerdata span {
	font-size: 26px;
	letter-spacing: 14px;
}
footer #footerdata span.kana {
	font-size: 16px;
}
footer #footerdata p {
	font-size: 12px;
	line-height: 22px;
	letter-spacing: 4px;
	margin-right: 30px;
}
footer #footerdata p#footerjp {
	writing-mode: horizontal-tb;
	transform: rotate(90deg);
	position: absolute;
	top: 188px;
	left: -112px;
}
footer div#footerimg  {
	display: inline-block;
	overflow: hidden;
	width: 69px;
	height: 92px;
	position: relative;
	bottom: 0;
	left: -40px;
}
footer div#footernav {
	display: inline-block;
}
footer div#footernav nav ul li {
	writing-mode: vertical-rl;
	display: inline-block;
	vertical-align: bottom;
	text-align: left;
	background-color: pink;
	margin: 2px;
}
footer div#footernav nav ul li a {
	display: block;
	width: 30px;
	line-height: 30px;
	background-color: #a53926;
	color: white;
	padding: 5px;
}
footer div#footernav nav ul li a {
	font-size: 16px;
	letter-spacing: 8px;
}

/* main用 */
div.main {
	width: 50%;
	height: 94vh;
	min-height: 650px;
	color: white;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: auto;
	overflow-x: hidden;
	overflow-y: auto;
	position: relative;
}
div.main h2 {
	writing-mode: vertical-rl;
	position: absolute;
	top: 50px;
	left: 50px;
}
div.main h2 span {
	font-size: 35px;
	letter-spacing: 40px;
}
div.main h2 span.kana {
	font-size: 19px;
	letter-spacing: 14px;
}

/* room.php用 */
div#roommain {
	background-color: #04002b;
	position: relative;
}
div#roommain p {
	font-size: 10px;
	letter-spacing: 10px;
	line-height: 20px;
	margin: 0 20px;
	text-align: left;
}
div#roomnav nav ul {
	text-align: center;
}
div#roomnav nav ul li {
	writing-mode: vertical-rl;
	display: inline-block;
	margin: 125px 30px 100px 30px;
}
div#roomabout {
	writing-mode: vertical-rl;
	margin: 0 auto 100px auto;
}
div#roomgoemon {
	width: 100%;
	background: linear-gradient(180deg,#04002b 0%,#04002b 12%,#9a3021 12%,#9a3021 100%);
	text-align: center;
	position: relative;
}
div#roombenkei {
	width: 100%;
	background: linear-gradient(180deg,#9a3021 0%,#9a3021 12%,#000 12%,#000 100%);
	text-align: center;
	position: relative;
}
div#roomkamakura {
	width: 100%;
	background: linear-gradient(180deg,#000 0%,#000 12%,#c38000 12%,#c38000 100%);
	text-align: center;
	position: relative;
}
img.roomtitle {
	width: 391px;
	height: 456px;
	display: block;
	margin: 0 auto;
}
div.roomcenter {
	width: 420px;
	height: 280px;
	position: absolute;
	top: -475px;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}
div.roomdetail {
	writing-mode: vertical-rl;
}
img.roomkamon {
	width: 100px;
	height: 100px;
	float: left;
	margin-top: 50px;
	opacity: 0.5;
}
img.roomtype1 {
	width: 413px;
	height: 280px;
	margin-top: 500px;
	margin-bottom: 30px;
}
img.roomtype2 {
	width: 217px;
	height: 336px;
	margin: 0 10px 200px 10px;
}

/* meal.php用 */
div#mealmain {
	background-color: #0b0e0f;
	position: relative;
}
div#mealmain p {
	font-size: 10px;
	letter-spacing: 10px;
	line-height: 20px;
	margin: 0 20px;
	text-align: left;
}
img#mealtitle {
	width: 312px;
	height: 474px;
	display: block;
	margin: 50px auto 150px auto;
}
div#mealabout {
	writing-mode: vertical-rl;
	margin: 0 auto;
}
img.mealtype1 {
	width: 392px;
	height: 259px;
	margin-right: 5vw;
	margin-top: 150px;
	margin-bottom: 150px;
	float: right;
}
div#mealpart1 {
	width: 100%;
	height: 800px;
	margin-right: 50px;
	writing-mode: vertical-rl;
	background-color: #0b0e0f;
	/* background: linear-gradient(45deg,black 0%,black 48%,red 48%,red 51%,black 51%,black 100%); */
}
div#mealpart1 p {
	margin-top: 100px;
}
img.mealtype2 {
	width: 156px;
	height: 248px;
	margin-bottom: 150px;
}
img.mealtype3 {
	width: 366px;
	height: 246px;
	margin-bottom: 150px;
}
div#mealpart2 {
	writing-mode: vertical-rl;
	width: 100%;
	height: 700px;
	position: relative;
}
div#mealpart2 p {
	position: absolute;
	top: 0;
	left: 14%;
}
img.mealtype4 {
	width: 111px;
	height: 176px;
	position: absolute;
	top: 8%;
	right: 8%;
}
img.mealtype5 {
	width: 156px;
	height: 248px;
	position: absolute;
	top: 35%;
	right: 25%;
}

/* bath.php用 */
div#bathmain {
	background-color: #855100;
	position: relative;
}
div#bathmain p {
	font-size: 10px;
	letter-spacing: 10px;
	line-height: 20px;
	margin: 0 20px;
	text-align: left;
}
img#bathtitle1 {
	width: 266px;
	height: 366px;
	display: block;
	margin: 50px auto 150px auto;
}
div#bathabout {
	writing-mode: vertical-rl;
	margin: 0 auto;
}
img#bathtitle2 {
	width: 414px;
	height: 308px;
	display: block;
	margin: 20px auto 120px auto;
}
div#bathpart1 {
	writing-mode: vertical-rl;
	margin: 150px auto 0 auto;
}
img.bathtype1 {
	width: 193px;
	height: 310px;
	margin-top: 50px;
	margin-left: 40px;
}
div#bathpart2 {
	writing-mode: vertical-rl;
	margin: 100px auto 0 auto;
}
div#bathpart2 p {
	margin-top: 100px;
}
img.bathtype2 {
	width: 193px;
	height: 310px;
	margin-right: 40px;
}
img.bathtype3 {
	width: 465px;
	height: 300px;
	margin-top: 100px;
	margin-bottom: 200px;
	margin-left: 15%;
}

/* guide.php用 */
div#guidemain {
	background-color: #3a1212;
	position: relative;
}
div#guidemain p {
	font-size: 10px;
	letter-spacing: 10px;
	line-height: 20px;
	margin: 0 20px;
	text-align: left;
}
img#guidetitle1 {
	width: 266px;
	height: 375px;
	display: block;
	margin: 50px auto 100px auto;
}
div#guideabout {
	writing-mode: vertical-rl;
	margin: 0 auto;
}
img#guidetitle2 {
	width: 460px;
	height: 220px;
	display: block;
	margin: 50px auto 150px auto;
}
div#guidepart1 {
	writing-mode: vertical-rl;
	float: right;
	margin-bottom: 250px;
	margin-right: 50px;
}
/* reservation.php用 */
div#reservemain {
	background-color: #002100;
	position: relative;
}
div#reservemain p {
	font-size: 10px;
	letter-spacing: 10px;
	line-height: 20px;
	margin: 0 20px;
	text-align: left;
}
img#reservetitle1 {
	width: 266px;
	height: 395px;
	display: block;
	margin: 50px auto 150px auto;
}
div#reserveabout {
	writing-mode: vertical-rl;
	margin: 0 auto;
}
div#reservesystem {
	margin: 150px auto;
}
.calendarsize {
	width: 80%;
}

/* 768px以下の場合のレイアウト */
/* @media screen and (max-width:768px) {} */
